.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  width: 400px;
  height: 500px;
  background-color: $dark-color;
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 40%);
  border-radius: 10px;
  font-family: "Proxima Soft";
  animation: surfacing 0.7s;

  &__display {
    width: 380px;
    height: 25%;
    border: 2px solid #CED6E030;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 360px;
    height: 75%;
  }

  &__main-calc {
    padding: 10px;
    color: $secondary-color;
    background-color: transparent;
    border: none;
    font-size: 40px;
    overflow: hidden;
    text-align: end;
    min-width: 100%;

    &::placeholder {
      color: $secondary-color;
    }
    &:focus {
      outline: none;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 50px;
    color: $secondary-color;
    user-select: none;
    border: none;
    background-color: transparent;

    font-size: 20px;
    font-weight: 700;
    svg {
      path {
        fill: $secondary-color;
      }
    }

    &:active {
      background-color: #00000020;
      transform: translateY(2px);
    }

    &:focus {
      outline: 1px solid $secondary-color;
    }

    &:nth-child(4n) {
      svg {
        path {
          fill: #FEC310;
        }
      }
    }

    &:last-child {
      background-color: #FEC310;
      svg {
        path {
          fill: $dark-color;
        }
      }
    }

  }
}
